ACTION=="add", ATTR{idVendor}=="046d", ATTR{idProduct}=="c31c", \
    TEST=="/sys/bus/usb/drivers/hid-generic/$kernel", \
    RUN+="/bin/sh -c 'echo $kernel > /sys/bus/usb/drivers/hid-generic/unbind && echo $kernel > /sys/bus/usb/drivers/Test USB driver/bind'"